@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;449&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  height:100vh;
  font-family: 'Dancing Script', serif;
}

header {
  color: salmon;
  text-align: center;
}

#container {
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-color: red;
  background-color: #025159;
}

section {
  width: 95%;
  background: #659AA6;
  float: left;
  overflow: auto;
  border-style: solid;
  border-color: yellow;
  border-radius: 1%;
  margin: 1%;
  padding: 1%;
}

#section nosotros {
  display: flexbox;
}

#seccion-img {
  background-image: url('https://picsum.photos/200/300?random=1');
}

#seccion-icono {
  background-color: #659AA6;
}



.mask-demo {
  /* Add dimentions to span */
  display: inline-block;
  width: 32px;
  height: 32px;
  /* Add background color */
  background-color: currentColor;
  /* Add mask image, use variable to reduce duplication */
  --svg: url('https://api.iconify.design/bi/bell-fill.svg');
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
